.our-yachts-section {
  display: inline-flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .our-yachts-section {
    
    gap: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-section {
    gap: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .our-yachts-section {
    
  }
}

.our-yachts-container {
  display: inline-flex;
  max-width: 335px;
  height: 675px;
  padding: 40px 20px 335px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .our-yachts-container {
    max-width: 704px;
height: 675px;
    padding: 50px 136px 244px 32px;
    gap: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-container {
    max-width: 1180px;
height: 675px;
max-width: 1180px;
padding: 50px 50px 438px 50px;
gap: 189px;
  }
}

@media screen and (min-width: 1440px) {
  .our-yachts-container {
    max-width: 1340px;
    padding: 50px 100px 438px 50px;

gap: 299px;
  }
}

.our-yachts-text-header {
  max-width: 288px;

  color: #1b414b;
  font-family: Helvetica Neue;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .our-yachts-text-header {
    max-width: 536px;
    height: 144px;
    font-size: 48px;

  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-text-header {
    max-width: 537px;

  }
}

@media screen and (min-width: 1440px) {
  .our-yachts-text-header {
   
  }
}

.our-yachts-text-container {
  display: flex;
  max-width: 295px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .our-yachts-text-container {
    max-width: 389px;
  
    
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-text-container {
    max-width: 354px;
    
  }
}

@media screen and (min-width: 1440px) {
  .our-yachts-text-container {
    
  }
}

.our-yachts-text-bold {
  max-width: 295px;
  color: #1b414b;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .our-yachts-text-bold {
    max-width: 389px;
    font-size: 23px;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-text-bold {
    max-width: 354px;
    
  }
}

@media screen and (min-width: 1440px) {
  .our-yachts-text-bold {
    
  }
}

.our-yachts-text-small {
    max-width: 295px;
  color: #040306;
  font-family: Helvetica Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.02em;
  opacity: 0.4;
}


@media screen and (min-width: 768px) {
  .our-yachts-section {
    max-wwidth: 385px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-section {
    max-width: 354px;
    font-size: 13px;
  }
}

@media screen and (min-width: 1440px) {
  .our-yachts-section {
   
  }
}
.our-yachts-image-container {
  margin-top: 0;
  max-width: 335px;
  height: 395px;
  border-radius: 24px;
  background-image: url(../img/my-yachts-mobile.png),
    lightgray -181.984px -4.244px / 182.464% 109.429% no-repeat;
}

@media screen and (min-width: 768px) {
  .our-yachts-image-container {
    height: 470px;
    max-width: width: 704px;;
    
    background-image: url(../img/my-yachts-tab.png),
      lightgray -181.984px -4.244px / 182.464% 109.429% no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .our-yachts-image-container {
    width: 1340px;
    height: 470px;
    background-image: url(../img/my-yachts-desktop.png),
      lightgray -181.984px -4.244px / 182.464% 109.429% no-repeat;
  }
}

@media screen and (min-width: 1440px) {
  .our-yachts-image-container {
  }
}
