<section class="advantages-section">
    <div class="container advantages-container">
        <h2 class="visually-hidden">Advantages</h2>
        <ol class="list advantages-list">
            <li class="advantages-item">
                <span class="counter">01</span>
                <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
            </li>
            <li class="advantages-item">
                <span class="counter">02</span>
                <p class="advantages-text">Fishing: try to catch your own dinner</p>
            </li>
            <li class="advantages-item">
                <span class="counter">03</span>
                <p class="advantages-text">Sightseeing tours: take a shore or island tour, enjoy the views and
                    sunsets
                    from the water</p>
            </li>
            <li class="advantages-item">
                <span class="counter">04</span>
                <p class="advantages-text">Rest and relaxation: read a book or listen to music while enjoying the
                    outdoor atmosphere.</p>
            </li>
        </ol>
        <img class="advantages-pic" srcset="
        ./img/advantages/advantages-phone.jpg 335w,
        ./img/advantages/advantages-phone@2x.jpg 670w,
        ./img/advantages/advantages-tablet.jpg 704w,
        ./img/advantages/advantages-tablet@2x.jpg 1408w,
        ./img/advantages/advantages-desktop.jpg 432w,
        ./img/advantages/advantages-desktop@2x.jpg 864w
        " sizes="(min-width: 1280px) 432px,(min-width: 768px) 704px, (max-width: 767px) 335px"
            src="../img/advantages/advantages-phone.jpg" alt="interior">
    </div>
</section>