<section class="hero-section">
  <div class="container">
    <div class="container-hero">
      <div class="container-hero-tittle">
        <h1 class="hero-tittle">
          Explore the High Seas with Our Luxury Yacht Rentals
        </h1>
        <p class="hero-subtittle">
          Experience the freedom and luxury of yachting on the open seas. Choose
          from our top-of-the-line yachts and embark on an unforgettable journey
          surrounded by breathtaking views and state-of-the-art amenities.
        </p>
      </div>
      <div class="container-hero-link">
        <a class="hero-link link" href="./rent-yacht.html">Yacht rental</a>
      </div>
    </div>
  </div>
</section>
