<section class="section our-yachts-section" id="our-yachts-section">
  <div class="container-yachts container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list list">
      <!-- Foto Arrow -->
      <li class="our-yachts-item">
        <img
          class="our-yachts-img"
          srcset="
            ./img/our-yachts/Mobile/arrow-yaht-mobile.jpg                302w,
            ./img/our-yachts/Mobile/arrow-yaht-mobile@2x.jpg             604w,
            ./img/our-yachts/Tablet/arrow-yaht-tablet.jpg                304w,
            ./img/our-yachts/Tablet/arrow-yaht-tablet@2x.jpg             608w,
            ./img/our-yachts/Desktop_1280/arrow-yaht-desktop_1280.jpg    345w,
            ./img/our-yachts/Desktop_1280/arrow-yaht-desktop_1280@2x.jpg 690w,
            ./img/our-yachts/Desktop_1440/arrow-yaht-desktop_1440.jpg    360w,
            ./img/our-yachts/Desktop_1440/arrow-yaht-desktop_1440@2x.jpg 720w
          "
          sizes="(min-width: 1440px) 360px, (min-width: 1280px) 345px, (min-width: 768px) 304px, (max-width:
        767px) 302px"
          src="./img/our-yachts/Mobile/arrow-yaht-mobile.jpg"
          alt="image arrow"
        />

        <!-- Yacht-Characteristics Arrow -->
        <div class="container-yachts-text">
          <div class="our-yachts-name-container">
            <span class="our-yachts-name">Arrow</span>
            <span class="our-yachts-class">LUXURY YAHTS</span>
          </div>

          <div class="yacht-characteristics-container">
            <div class="yacht-characteristics-container-left">
              <p class="our-yahts-question">LENGTH</p>
              <p class="our-yahts-question">BUILDER</p>
              <p class="our-yahts-question">BUILT</p>
              <p class="our-yahts-question">GUESTS</p>
              <p class="our-yahts-question">PRICE</p>
            </div>
            <div class="yacht-characteristics-container-right">
              <p class="our-yahts-answer">48m(155ft)</p>
              <p class="our-yahts-answer">Admiral</p>
              <p class="our-yahts-answer">2021</p>
              <p class="our-yahts-answer">11 in 5 cabins</p>
              <p class="our-yahts-answer">€33,500,000</p>
            </div>
          </div>
        </div>
      </li>

      <!--Foto Benetti oasis 40v bo122 -->
      <li class="our-yachts-item yachts-two">
        <img
          class="our-yachts-img"
          srcset="
            ./img/our-yachts/Tablet/benetti-yaht-tablet.jpg                304w,
            ./img/our-yachts/Tablet/benetti-yaht-tablet@2x.jpg             608w,
            ./img/our-yachts/Desktop_1280/benetti-yaht-desktop_1280.jpg    345w,
            ./img/our-yachts/Desktop_1280/benetti-yaht-desktop_1280@2x.jpg 690w,
            ./img/our-yachts/Desktop_1440/benetti-yaht-desktop_1440.jpg    360w,
            ./img/our-yachts/Desktop_1440/benetti-yaht-desktop_1440@2x.jpg 720w
          "
          sizes="(min-width: 1440px) 360px, (min-width: 1280px) 345px, (min-width: 768px) 304px"
          src="./img/our-yachts/Tablet/benetti-yaht-tablet.jpg"
          alt="image benetti
        oasis 40v bo122"
        />

        <!-- Yacht Characteristics Benetti oasis 40v bo122-->
        <div class="container-yachts-text">
          <div class="our-yachts-name-container">
            <span class="our-yachts-name"
              >BENETTI OASIS 40<span class="our-yachts-name-plus">M B</span
              >...</span
            >
            <span class="our-yachts-class">LUXURY YAHTS</span>
          </div>

          <div class="yacht-characteristics-container">
            <div class="yacht-characteristics-container-left">
              <p class="our-yahts-question">LENGTH</p>
              <p class="our-yahts-question">SHIPYARD</p>
              <p class="our-yahts-question">BUILT</p>
              <p class="our-yahts-question">GUESTS</p>
              <p class="our-yahts-question">PRICE</p>
            </div>
            <div class="yacht-characteristics-container-right">
              <p class="our-yahts-answer">41m (133ft)</p>
              <p class="our-yahts-answer">Benetti</p>
              <p class="our-yahts-answer">2025</p>
              <p class="our-yahts-answer">10 in 5 cabins</p>
              <p class="our-yahts-answer">€23,210,000</p>
            </div>
          </div>
        </div>
      </li>

      <!-- Foto Belle Anna -->
      <li class="our-yachts-item yachts-item yachts-three">
        <img
          class="our-yachts-img"
          srcset="
            ./img/our-yachts/Desktop_1280/belle-anna-yaht-desktop_1280@2x.jpg 690w,
            ./img/our-yachts/Desktop_1440/belle-anna-yaht-desktop_1440.jpg    360w,
            ./img/our-yachts/Desktop_1440/belle-anna-yaht-desktop_1440@2x.jpg 720w
          "
          sizes="(min-width: 1440px) 360px, (min-width: 1280px) 345px"
          src="./img/our-yachts/Desktop_1280/belle-anna-yaht-desktop_1280.jpg"
          alt="image belle anna"
        />

        <!-- Yacht Characteristics Belle Anna -->
        <div class="container-yachts-text">
          <div class="our-yachts-name-container">
            <span class="our-yachts-name">BELLE ANNA</span>
            <span class="our-yachts-class">LUXURY YAHTS</span>
          </div>

          <div class="yacht-characteristics-container">
            <div class="yacht-characteristics-container-left">
              <p class="our-yahts-question">LENGTH</p>
              <p class="our-yahts-question">SHIPYARD</p>
              <p class="our-yahts-question">BUILT</p>
              <p class="our-yahts-question">GUESTS</p>
              <p class="our-yahts-question">PRICE</p>
            </div>
            <div class="yacht-characteristics-container-right">
              <p class="our-yahts-answer">50m(155ft)</p>
              <p class="our-yahts-answer">ISA</p>
              <p class="our-yahts-answer">2012</p>
              <p class="our-yahts-answer">12 in 6 cabins</p>
              <p class="our-yahts-answer">€21,000,000</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <!-- Rent-yacht -->
  <div class="container-yachts-link">
    <a class="our-yachts-rental-link link" href="#rent-yacht-section"
      >Yacht rental</a
    >
  </div>
</section>
