<footer class="footer container">
  <div class="footer-container">
    <!-- Logo -->
    <div class="footer-container-logo">
      <a class="footer-logo-link" href="#yachtjet">yachtjet</a>
      <!-- Menu -->
      <nav class="footer-navi-menu">
        <ul class="footer-navi-menu-list list">
          <li class="footer-navi-menu-item">
            <a class="navi-menu-link" href="#about">About</a>
          </li>
          <li class="footer-navi-menu-item">
            <a class="navi-menu-link" href="#yachts">Yachts</a>
          </li>
          <li class="footer-navi-menu-item">
            <a class="navi-menu-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Social -->
    <div class="footer-social-container">
      <ul class="footer-social-list list">
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="footer-social-link"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="https://www.youtube.com/c/GoIT" class="footer-social-link">
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="footer-social-link"
          >
            <svg class="footer-social-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- Text -->
    <div class="footer-text-container">
      <p class="footer-text">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
    </div>

    <!--bottom-Text -->
    <!-- Privacy Police -->
    <div class="footer-bottom-privacy-container">
      <p class="footer-bottom-text">2023. Yacht Adventures</p>
      <a class="footer-privacy-policy-link" href="">Privacy Policy</a>
    </div>
  </div>
</footer>
